<h2>List of Chapters</h2>
<ul class="chapters">
  <li *ngFor="let chapter of chapters" [class.selected]="chapter === selectedChapter" (click)="onSelect(chapter)">
    <span class="badge">{{chapter.id}}</span> {{chapter.name}}
  </li>
</ul>

<!-- <div *ngIf="selectedChapter"> -->
  <!-- <ng-template appList></ng-template> -->
<template #appList></template>
<!-- </div> -->

<!-- <div *ngIf="selectedChapter">
  <app-challenges [chapter]="selectedChapter.id"></app-challenges>
</div> -->

<!-- <div *ngIf="selectedChapter">
  <app-challenges [chapter]="selectedChapter.id"></app-challenges>
</div> -->
